[workspace]
members = [ "crates/redeem-classifiers", "crates/redeem-cli",
    "crates/redeem-properties",
    "crates/redeem-properties-py"
]

resolver = "2"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
debug = true
